<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: grey">
    <script src="../static/js/game.js" async></script>
    <table style="margin: auto">
        <tr>
        <td><img src="../static/images/cat.png" alt="Tekst alternatywny" width="150" height="150"></td>
        <td><div class="txt"><h2>NA DRODZE DO</h2></div></td>
            <td><img src="../static/images/milk_02.png" alt="Tekst alternatywny" width="150" height="150"></td>
        </tr>
    </table>
</body>
</html>