<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .txt {
            position: relative;
            font-size: 200%;
            text-align: center;
            text-shadow: -1px -1px #ff414c, 2px 2px #33100e;
            }

        .txt:hover {
            text-shadow: -1px -1px #33100e, 2px 2px #ff414c;
            }

    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script src="../static/js/game.js" async></script>

    <table style="margin: auto">
        <tr>
        <td><img src="/kot/static/cat.png" alt="Tekst alternatywny" width="150" height="150"></td>

        <td>
        <div class="txt">
            <h2>
                NA DRODZE DO
            </h2>
        </div></td>
        <td>
            <img src="/kot/static/cat.png" alt="Tekst alternatywny" width="150" height="150">
        </td>
</body>
</html>