<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/js/player.js" async></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table style="margin: auto">
        <tr>
        <td><img src="../static/images/cat.png" alt="Tekst alternatywny" width="150" height="150"></td>
        <td><div class="txt"><h2>NA DRODZE DO</h2></div></td>
        </tr>
    </table>

    <div class="mouse">
        <script src="../static/js/game.js" async></script>
    </div>
    <img id="Cat1" src="../static/images/cat.png" alt="Cat" width="30" height="30">
</body>
</html>